Да се направи TODO приложение.

Изисквания на приложението:
1. Потребителите трябва да могат да си създават Todo елементи
2. Потребителите трябва да могат да задават всеки един TODO елемент като приключил
3. Потребителите трябва да могат да трият всеки един TODO елемент(активни, приключили и т.н.)
    3.1. При триене трябва да се добави съобщение за потвърждение
5. Потребителите трябва да имат възможност да виждат(от линковете във footer навигацията):
    4.1. Списък със всички елементи(default)
    4.2. Списък само с активните елементи
    4.3. Списъл с приключилите елементи
    4. Потребителите трябва да имат възможност за промяна на текста на елемента след "doubleclick" event върху него
    8. Създадените TODO елементи трябва да се пазят в локалната база на browser-a
    6. Да се анимират следните елементи:
        6.1. Да се анимира показването и скриването на delete бутона
        6.2. Да се анимира скриването на TODO елементите при триене
        6.3. Да се анимира текста на TODO елемента когато си сменява state-a
        9. Да се добави поле DUE Date на TODO елементите


    7. Потребителите трябва да могат в една HTML страница да добавят няколко TODO приложения??





10. Да се изпраща нотификация към ß-a, когато има елемент с изтекъл DUE Date
